#forma {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 10px 20px 10px;
  max-width: 705px;
  min-width: 580px;
}

.forma-kolona {
  display: flex;
  flex-direction: column;
}

.forma-stavka {
  padding-bottom: 25px;
}
label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
#btn-posalji {
  transition-duration: 0.3s;
  background-color: rgb(28, 140, 245);
  font-weight: 600;
  border-width: 0;
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  width: 100%;
  color: azure;

  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
#btn-posalji:hover {
  background-color: rgb(28, 89, 146);
  transition-duration: 0.3s;
}
#datum {
  font-family: Arial, Helvetica, sans-serif;
}

.poruka-greske {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
#podaciforme-div {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 20px 10px;
  max-width: 705px;
}

#podaciforme {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 15px;
  min-width: 100%;
  max-width: 100%;
}
#ocena {
  width: 40px;
}
#brojindeksa {
  width: 70px;
}

#btn-ucitaj {
  transition-duration: 0.3s;
  background-color: rgb(28, 140, 245);
  font-weight: 600;
  border-width: 0;
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  width: 150px;
  color: azure;
  margin-top: 15px;

  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

#btn-ucitaj:hover {
  background-color: rgb(28, 89, 146);
  transition-duration: 0.3s;
}
